<section>
<div>
	<section id="directives-calendar">
		<div class="page-header">
			<h1>Lab Calendar</h1>
		</div>
		<div class="well">
			<div class="row-fluid">
				<div class="span4">
					<div class="btn-group calTools">
						<!--<button class="btn" ng-click="changeLang()">
						{{changeTo}}
						</button>              
						<button class="btn" ng-click="addRemoveEventSource(eventSources,eventSource)">
						Toggle Source
					</button>-->
						<button type="button" class="btn btn-primary" ng-click="addEvent()">
						Add Event
						</button>
					</div>

				</div>
				<div class="span8">
					<tabset>
						<tab select="renderCalender('AwesomeCalendar', 'agendaDay');">
							<tab-heading>
							<i class="glyphicon glyphicon-bell"></i> Awesome Calendar 
							</tab-heading>
							<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
							<h4>{{alertMessage}}</h4>
							</div>
							<div class="btn-toolbar">
							<p class="pull-right lead">Awesome Calendar View Options</p>
							<div class="btn-group">
								<button class="btn btn-success" ng-click="changeView('agendaDay', 'AwesomeCalendar')">AgendaDay</button>
								<button class="btn btn-success" ng-click="changeView('agendaWeek', 'AwesomeCalendar')">AgendaWeek</button>
								<button class="btn btn-success" ng-click="changeView('month', 'AwesomeCalendar')">Month</button>
							</div>
							</div>
						<div class="calendar" ng-model="eventSources" calendar="AwesomeCalendar" ui-calendar="uiConfig.calendar"></div>
						</tab>
						<tab select="renderCalender('myCalendar3');">
						<tab-heading>
							<i class="glyphicon glyphicon-bell"></i> Calendar Three
						</tab-heading>
							<div class="alert-success calAlert">
							<h4>This calendar uses the extended form</h4>
							</div>
							<div class="btn-toolbar">
							<p class="pull-right lead">Calendar Three View Options</p>
							<div class="btn-group">
								<button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar3')">AgendaDay</button>
								<button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar3')">AgendaWeek</button>
								<button class="btn btn-success" ng-click="changeView('month', 'myCalendar3')">Month</button>
							</div>
							</div>
						<div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
						</tab>
					</tabset>
				</div>
			</div>
		</div>
	</section>
</div>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Appointments List</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
	<ul class="unstyled">
		<li ng-repeat="e in events">
			<div class="alert alert-info">
				<a class="close" ng-click="remove($index)"><i class="glyphicon glyphicon-remove"></i></a>
				<b> <input ng-model="e.title"></b> 
				{{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
			</div>
		</li>
	</ul>
  <div class="list-group">
    <a ng-repeat="appointment in pagedItems" ui-sref="admin.appointment({appointmentId: appointment._id})" class="list-group-item">
      <p class="list-group-item-text pull-right small" ng-bind="appointment.time"></p>
      <p class="list-group-item-text" ng-bind="appointment.participant.name"></p>
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
  <div class="container">
	<div class="row">
		<button class="btn-primary" ui-sref="admin.appointment-add">Add Appointment</button>
	</div>
  </div>
</section>
