<section>
<div>
	<section id="directives-calendar">
		<div class="page-header">
			<h1>Lab Calendar</h1>
			<button type="button" class="btn btn-primary" ng-click="addEvent()">
				Add Event
			</button>
			<button class="btn btn-success" ng-click="changeView('agendaWeek', 'MainCalendar')">Week</button>
			<button class="btn btn-success" ng-click="changeView('month', 'MainCalendar')">Month</button>
		</div>
		<div class="well">
			<div class="row-fluid">
				<div class="row">
					<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
						<h4>{{alertMessage}}</h4>
					</div>
					<div class="calendar" ng-model="eventSources" calendar="MainCalendar" ui-calendar="uiConfig.calendar"></div>
				</div>
				<div class="row">


					<div class="col-md-6">
						<div class="row">
							</br>
							</br>
							</br>
							<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
								<h4>{{alertMessage}}</h4>
							</div>
							<div class="calendar" ng-model="eventSources" calendar="DayCalendar" ui-calendar="uiConfig.calendar"></div>
						</div>
					</div>

					
					<div class="col-md-6">
						<div class="page-header">
							<div class="row">
								<h1>Appointments List</h1>
							</div>
							<div class="row">
								<input class="form-control" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
							</div>
						</div>
							<ul class="unstyled">
								<li ng-repeat="e in events">
									<div class="alert alert-info">
										<a class="close" ng-click="remove($index)"><i class="glyphicon glyphicon-remove"></i></a>
										<b> <input ng-model="e.title"></b> 
										{{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
									</div>
								</li>
							</ul>
						<div class="list-group">
							<a ng-repeat="appointment in pagedItems" ui-sref="admin.appointment({appointmentId: appointment._id})" class="list-group-item">
							<p class="list-group-item-text pull-right small" ng-bind="appointment.time"></p>
							<p class="list-group-item-text" ng-bind="appointment.participant.name"></p>
							</a>
						</div>

						<pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
						<div class="container">
							<div class="row">
								<button class="btn-primary" ui-sref="admin.appointment-add">Add Appointment</button>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</section>
