  <!DOCTYPE html>
  <html>   
<section class="contact" ng-controller="ContactController">
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 44.540, lng: -78.546},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
    <div class="row" id="jumbotrons">
        <div class="col-md-5 jumbotron">
            <h1>Location</h1>
            <!--<div class="thumbnail">Insert map here</div>
            <div id = "googleMap"></div>-->
            <div id="map"></div>
            <p>Our lab is located at E313A CSE Building, University of Florida, Gainesville, FL 32611</p>
        </div>
        <div class="col-md-5 col-md-offset-1 jumbotron">
            <h1>Contact Info</h1>
            <p>Dr. McMullen: E530 CSE Building</p>
        </div>
    </div>

    <div id="footer" class="row">
        <span id="footer-nav" class="col-md-12 col-sm-12 col-xs-12">
            <a ng-click="contact()">Contact Us</a>
            <a href="">The Team</a>
        </span>
        <span id="rights" class="col-md-12 col-sm-12 col-xs-12">
            <a href="http://www.ufl.edu">&copy; University of Florida</a>,
            <a href="http://www.cise.ufl.edu">Department of Computer & Information Science & Engineering</a>
        </span>
    </div>

    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="/public/lib/angular-google-maps/dist/angular-google-maps.min.js"></script>
</section>
  </body>
  </html>>
       
</html>