<section class="contact" ng-controller="ContactController">

    <div class="row" id="jumbotrons">
        <div class="col-md-5 jumbotron">
            <h1>Location</h1>
            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">

            </ui-gmap-google-map>
        </div>
        <div class="col-md-5 col-md-offset-1 jumbotron">
            <h1>Contact Info</h1>
        </div>
    </div>

    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="/public/lib/angular-google-maps/dist/angular-google-maps.min.js"></script>
</section>