<section id="splash" ng-controller="HomeController">
    <div class="row">
        <div class="col-md-4 top-row">
            <div class="row"><img src='/images/About.jpg'></div>
            <div class="row title-text">About text</div>
        </div>
        <div class="col-md-4 top-row"><img src='/images/logo.png'></div>
        <div class="col-md-4 top-row">
            <div class="row"><img src='/images/Contacts.jpg'></div>
            <div class="row title-text">Contacts text</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 title-text">Research text</div>
                <div class="col-md-8"><img src='/images/Research.jpg'></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 title-text">Publications text</div>
                <div class="col-md-8"><img src='/images/Publication.jpg'></div>
            </div>
        </div>
    </div>
    <div class="row">
     	<div class="col-md-8">
            <div class="row">
                <div class="col-md-4 title-text">Moments text</div>
                <div class="col-md-8"><img src='/images/Moments.jpg'></div>
            </div>  
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4 title-text">People text</div>
                <div class="col-md-8"><img src='/images/People.jpg'></div>
            </div>
        </div>
    </div>
</section>
