<section id="splash" ng-controller="HomeController">
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
			<img src='/images/logo_gray.png'>
		</div>
    </div>
    <div id="splash_content" class="row">
        <div class="col-md-2 col-md-offset-1">
			<div class="col-md-12">
				<p>About</p>
				<img src='/images/About.jpg' alt='About'>
			</div>
        </div>
        <div class="col-md-2">
			<div class="col-md-12">
				<p>Audio</p>
				<img src='/images/Audio.jpg' alt='Audio'>
			</div>
        </div>
     	<div class="col-md-2">
			<div class="col-md-12">
				<p>Research</p>
				<img src='/images/Research.jpg' alt='Research'>
			</div>
        </div>
        <div class="col-md-2">
			<div class="col-md-12">
				<p>Publications</p>
				<img src='/images/Publication.jpg' alt='Publications'>
			</div>
        </div>
        <div class="col-md-2">
			<div class="col-md-12">
				<p>Moments</p>
				<img src='/images/Moments.jpg' alt='Moments'>
			</div>
        </div>
    </div>
	<div id="footer" class="row">
		<span id="footer-nav" class="col-md-12">
			<a href="">Contact Us</a>
			<a href="">The Team</a>
		</span>
		<span id="rights" class="col-md-12">
			<a href="http://www.ufl.edu">&copy; University of Florida</a>,
			<a href="http://www.cise.ufl.edu">Department of Computer & Information Science & Engineering</a>
		</span>
	</div>
</section>
