<section  ng-controller="TeamController">
  <h1 class = "spaced-out header">Lab Members</h1>
  <i class="header">At SoundPad, our lab members work together to acheive our lab's mission!</i>
  <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
	<div class="teamSection row">
		<div ng-repeat= "user in users" class="teamMember">
			<div class="profileImgContainer">
				<img class ="profileImg" ng-src= {{user.profileImageURL}}>
			</div>
			<p class = "name">{{user.displayName}}</p>
		</div>
	</div>
  </div>
  <div id="footer">
	<span id="footer-nav" class="col-md-12 col-sm-12 col-xs-12">
		<a ng-click="goToContact()">Contact Us</a>
		<a ng-click="goToTeam()">The Team</a>
	</span>
	  <span id="rights" class="col-md-12 col-sm-12 col-xs-12">
		  <a href="http://www.ufl.edu">&copy; University of Florida</a>,
		  <a href="http://www.cise.ufl.edu">Department of Computer & Information Science & Engineering</a>
	  </span>
  </div>
</section>
