<div ng-controller="addParticipantController">
  <h3 class="col-md-12 text-center">Add Participant</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="participantForm" ng-submit="addParticipant(participantForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">Name</label>
          <input type="text" id="Name" name="Name" class="form-control" ng-model="credentials.name" placeholder="Name" required>
          <div ng-messages="participantForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="phoneNumber">Phone number</label>
          <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" ng-model="credentials.phone_number" placeholder="Phone number" required>
          <div ng-messages="participantForm.phoneNumber.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Phone number is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" lowercase required>
          <div ng-messages="participantForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Date of birth</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.dob" placeholder="Date of Birth" lowercase >
          </div>
        <div class="form-group" show-errors>
          <label for="gender">Gender</label>
            <input type="text" id="username" name="username" class="form-control" ng-model="credentials.gender" placeholder="gender" lowercase >
        </div>
        
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Add Participant</button>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</div>
